.mainDiv {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 0px;
  height: 100vh;
  width: 100vw;
}

.mainDiv h1 {
  font-weight: 300;
  font-size: 2vw;
  color: var(--text-blue);
}

.titleDiv {
  width: 12%;
  padding: 1vw;
  padding-top: 2vw;
  padding-bottom: 2vw;
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: center;
}

.aboutDiv {
  width: 45%;
  padding: 2vw;
  padding-left: 3vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: left;
  gap: 1vw;
}

.aboutDiv h2 {
  font-size: 5vw;
  line-height: 0.98;
  color: var(--text-blue);
  letter-spacing: -0.015rem;
  font-weight: 400;
}

.aboutDiv span {
  opacity: 0.65;
  font-size: 2vw;
  line-height: 1.15;
  letter-spacing: 0.01rem;
}

.aboutDiv p {
  opacity: 0.65;
  font-size: 1.25vw;
  line-height: 1.15;
  letter-spacing: 0.01rem;
}

.imageDiv {
  width: 50%;
  margin: 1vw;
  border-radius: 2.5vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  padding: 2vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: left;
}

.mainButton {
  background-color: rgba(255, 255, 255, 0.75);
  backdrop-filter: blur(20px);
  color: var(--text-blue);
  padding: 1vw 1.75vw;
  font-size: 1.75vw;
  line-height: 1;
  border-radius: 1.25vw;
  cursor: pointer;
}

.fullSizeImage {
  width: 100%;
  height: 100%;
  position: relative;
  border-radius: 2.5vw;
  object-fit: cover;
  opacity: 1;
  mix-blend-mode: multiply;
  opacity: 1;
}

.greyDiv {
  background-color: var(--grey);
  width: 88%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-top-left-radius: 3.5vw;
  border-bottom-left-radius: 3.5vw;
}

.container {
  align-items: center;
  display: flex;
  justify-content: center;
  min-height: 100vh;
  width: 100vw;
  top: 0;
}

.cta {
  align-items: center;
  display: flex;
  justify-content: center;
  gap: 12px;
  position: relative;
  min-height: 100vh;
  width: 100vw;
  font-size: 28px;
}

.ctaText {
  background-color: rgba(255, 255, 255, 0.179);
  backdrop-filter: blur(6px);
  padding: 60px;
  border: 1px dotted rgb(231, 231, 231);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.ctaText span {
  color: rgb(128, 128, 128);
}

.list {
  display: flex;
  flex-direction: column;
  justify-content: left;
  text-align: left;
  margin-left: 20px;
  gap: 2px;
}

.ctaButton {
  background-color: rgba(255, 255, 255, 0.639);
  backdrop-filter: blur(6px);
  padding: 12px 24px;
  border-radius: 12px;
  border: 1px dotted rgb(231, 231, 231);
}

.text {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 12px;
}

.normalText {
  letter-spacing: 0.05rem;
  font-size: 22px;
  line-height: 120%;
  font-weight: 400;
  opacity: 1;
}

.typewriter {
  align-items: center;
  display: inline-block;
  justify-content: flex-start;
  transform: translateY(100px);
  border-right: none;
  letter-spacing: 0.05rem;
  font-size: 22px;
  line-height: 95%;
  font-weight: 400;
  opacity: 0;
  animation: fadeInOut 5s forwards;
  font-weight: 500;
}

.typewriter:nth-child(1) {
  animation-delay: -0.5s;
}

.typewriter:nth-child(2) {
  animation-delay: 0.5s;
}

.typewriter:nth-child(3) {
  animation-delay: 1s;
}

.typewriter:nth-child(4) {
  animation-delay: 1.5s;
}

.typewriter:nth-child(5) {
  animation-delay: 2s;
}

.typewriter:nth-child(6) {
  animation-delay: 2.5s;
}

.typewriter:nth-child(7) {
  animation-delay: 3s;
}

.typewriter:nth-child(8) {
  animation-delay: 3.5s;
}

.typewriter:nth-child(9) {
  animation-delay: 4s;
}

.typewriter:nth-child(10) {
  animation-delay: 4.5s;
}

.typewriter:nth-child(11) {
  animation-delay: 5s;
}

.typewriter:nth-child(12) {
  animation-delay: 5.5s;
}

.typewriter:nth-child(13) {
  animation-delay: 6s;
}

.typewriter:nth-child(14) {
  animation-delay: 6.5s;
}

.typewriter:nth-child(15) {
  animation-delay: 7s;
}

.typewriter:nth-child(16) {
  animation-delay: 7.5s;
}

.typewriter:nth-child(17) {
  animation-delay: 8s;
}

.typewriter:nth-child(18) {
  animation-delay: 8.5s;
}

.typewriter:nth-child(19) {
  animation-delay: 9s;
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }
  50% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.typewriter span {
  color: rgb(119, 119, 119);
}

@media (max-width: 700px) {
  .mainDiv {
    flex-direction: column;
  }

  .mainDiv h1 {
    font-weight: 300;
    font-size: 3vw;
    color: var(--text-blue);
    text-align: left;
  }

  .titleDiv {
    width: 100%;
    padding: 1vw;
    padding-top: 3vw;
    padding-bottom: 3vw;
  }

  .greyDiv {
    width: 100%;
    border-top-left-radius: 3.5vw;
    border-top-right-radius: 3.5vw;
    border-bottom-left-radius: 0vw;
    flex-direction: column;
  }

  .aboutDiv {
    width: 100%;
    padding: 4vw;
  }

  .aboutDiv h2 {
    font-size: 8vw;
  }

  .aboutDiv span {
    font-size: 4vw;
  }

  .aboutDiv p {
    font-size: 2.25vw;
  }

  .imageDiv {
    width: 100%;
    height: 100vw;
    border-radius: 2.5vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    padding-right: 2vw;
  }

  .overlay {
    padding: 3vw;
  }

  .mainButton {
    background-color: rgba(255, 255, 255, 0.75);
    backdrop-filter: blur(20px);
    color: var(--text-blue);
    padding: 2vw 1.75vw;
    font-size: 3.75vw;
    line-height: 1;
    border-radius: 1.25vw;
    cursor: pointer;
  }
}
