.container {
  align-items: center;
  display: flex;
  justify-content: center;
  min-height: 100vh;
  width: 100vw;
  top: 0;
}

.cta {
  align-items: center;
  display: flex;
  justify-content: center;
  gap: 12px;
  position: relative;
  min-height: 100vh;
  width: 100vw;
  font-size: 28px;
}

.ctaText {
  background-color: rgba(255, 255, 255, 0.179);
  backdrop-filter: blur(6px);
  padding: 60px;
  border: 1px dotted rgb(231, 231, 231);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.ctaText span {
  color: rgb(128, 128, 128);
}

.list {
  display: flex;
  flex-direction: column;
  justify-content: left;
  text-align: left;
  margin-left: 20px;
  gap: 2px;
}

.ctaButton {
  background-color: rgba(255, 255, 255, 0.639);
  backdrop-filter: blur(6px);
  padding: 12px 24px;
  border-radius: 12px;
  border: 1px dotted rgb(231, 231, 231);
}

.text {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 12px;
}

.normalText {
  letter-spacing: 0.05rem;
  font-size: 22px;
  line-height: 120%;
  font-weight: 400;
  opacity: 1;
}

.typewriter {
  align-items: center;
  display: inline-block;
  justify-content: flex-start;
  transform: translateY(100px);
  border-right: none;
  letter-spacing: 0.05rem;
  font-size: 22px;
  line-height: 95%;
  font-weight: 400;
  opacity: 0;
  animation: fadeInOut 5s forwards;
  font-weight: 500;
}

.typewriter:nth-child(1) {
  animation-delay: -0.5s;
}

.typewriter:nth-child(2) {
  animation-delay: 0.5s;
}

.typewriter:nth-child(3) {
  animation-delay: 1s;
}

.typewriter:nth-child(4) {
  animation-delay: 1.5s;
}

.typewriter:nth-child(5) {
  animation-delay: 2s;
}

.typewriter:nth-child(6) {
  animation-delay: 2.5s;
}

.typewriter:nth-child(7) {
  animation-delay: 3s;
}

.typewriter:nth-child(8) {
  animation-delay: 3.5s;
}

.typewriter:nth-child(9) {
  animation-delay: 4s;
}

.typewriter:nth-child(10) {
  animation-delay: 4.5s;
}

.typewriter:nth-child(11) {
  animation-delay: 5s;
}

.typewriter:nth-child(12) {
  animation-delay: 5.5s;
}

.typewriter:nth-child(13) {
  animation-delay: 6s;
}

.typewriter:nth-child(14) {
  animation-delay: 6.5s;
}

.typewriter:nth-child(15) {
  animation-delay: 7s;
}

.typewriter:nth-child(16) {
  animation-delay: 7.5s;
}

.typewriter:nth-child(17) {
  animation-delay: 8s;
}

.typewriter:nth-child(18) {
  animation-delay: 8.5s;
}

.typewriter:nth-child(19) {
  animation-delay: 9s;
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }
  50% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.typewriter span {
  color: rgb(119, 119, 119);
}
